@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

#map { 
	height: 100vh;
	width: 100%;
}
html, body {
	margin: 0;
}

h1 {
	position: absolute;
	font-size: 12vh;
	width: 100%;
	text-align: center;
	z-index: 9999;
	margin: 5vh 0;
	font-weight: 800;
}

.legend {
	padding: 6px 8px;
	font: 14px "Inter var", Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	line-height: 24px;
	color: #555;
}
.legend h4 {
	text-align: center;
	font-size: 16px;
	margin: 2px 12px 8px;
	color: #777;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
}

.legend i.icon {
	background-size: 18px;
	background-color: rgba(255, 255, 255, 1);
}

.report {
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 69420;
    cursor: pointer;
    bottom: 56%;
    right: 40px;
}
body {
    position: relative;
}

.submit {
    display: block;
    position: absolute;
    width: 100px;
    z-index: 69420;
    cursor: pointer;
    bottom: 52%;
    right: 40px;
}
